<a href="https://colab.research.google.com/github/zachfreitas/ADS_504_Machine_Learning/blob/main/Module_3/Assignment_3/Zachariah_Freitas_Assignment_3.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3.1
Zachariah Freitas

## Import Libraries

In [55]:
# Import Libraries
%matplotlib inline
import os
from IPython.display import display
import numpy as np
import pandas as pd 

# Turn off warnings to make results look cleaner.
import warnings
# warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore")


import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import matplotlib.gridspec as gs
import seaborn as sns; sns.set()

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import tree
# from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OrdinalEncoder
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

## Drum Dataset
These data are in drum_data.csv. These are the spectrum (frequencies) of sounds from a digital drum musical instrument. The task is to identify which type of drum produced the sound.

In [49]:
# Get data
d_df = pd.read_csv('https://raw.githubusercontent.com/zachfreitas/ADS_504_Machine_Learning/main/Module_3/Assignment_3/drum_data.csv')

d_df.head(3).T

                      0              1              2
Unnamed: 0            0              1              2
filename     70Funk.wav  8oh8  Rim.wav  8oh8  Tin.wav
label_text        snare          snare          snare
label                 0              0              0
0.00 hz        0.117469       0.003148       0.006759
...                 ...            ...            ...
10680.47 hz    0.000041       0.000036       0.000024
10766.60 hz    0.000003       0.000006       0.000003
10852.73 hz    0.000001       0.000001       0.000001
10938.87 hz         0.0            0.0            0.0
11025.00 hz         0.0            0.0            0.0

[133 rows x 3 columns]

In [50]:
d_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,212.0,1.055000e+02,6.134330e+01,0.000000e+00,5.275000e+01,1.055000e+02,1.582500e+02,2.110000e+02
label,212.0,4.481132e-01,4.984775e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
0.00 hz,212.0,3.624958e+00,6.942545e+00,1.526861e-03,6.484030e-02,4.884105e-01,4.309501e+00,6.658286e+01
86.13 hz,212.0,1.741696e+01,2.643852e+01,9.484890e-04,2.177118e-01,3.617768e+00,2.433454e+01,1.900677e+02
172.27 hz,212.0,8.596787e+00,9.235777e+00,3.451092e-03,2.332045e+00,6.081414e+00,1.131237e+01,5.620369e+01
...,...,...,...,...,...,...,...,...
10680.47 hz,212.0,1.519868e-05,3.001521e-05,8.123556e-10,1.042592e-07,3.744049e-06,1.851275e-05,2.575438e-04
10766.60 hz,212.0,3.533626e-06,6.106023e-06,3.550325e-10,1.984290e-08,9.070992e-07,4.349353e-06,4.113468e-05
10852.73 hz,212.0,6.712768e-07,1.313119e-06,8.939242e-11,3.470632e-09,1.677709e-07,7.235192e-07,9.834714e-06
10938.87 hz,212.0,9.091606e-08,1.898266e-07,8.800568e-12,4.616096e-10,1.739184e-08,9.673274e-08,1.392894e-06
11025.00 hz,212.0,6.313396e-09,1.143963e-08,5.490084e-13,5.699681e-11,1.160822e-09,7.282709e-09,7.029924e-08

## Text Data
These data are in count_hamilton.csv. These data are the word counts of the Federalist papers, important documents in American history which have disputed authorship. The task is to identify the author of these documents.

In [51]:
# Get data


t_df = pd.read_csv('https://github.com/zachfreitas/ADS_504_Machine_Learning/raw/main/Module_3/Assignment_3/count_hamilton.csv')

t_df.head(3).T

,0,1,2
Unnamed: 0,0,1,2
meta_author,hamilton,jay,jay
meta_title,general introduction for the independent journ...,concerning dangers from foreign force and infl...,the same subject continued concerning dangers ...
000,0,0,0
10,0,0,0
...,...,...,...
yourselves,0,0,0
zaleucus,0,0,0
zeal,3,0,0
zealand,0,0,0
zealous,0,0,0

In [52]:
t_df.describe().T

            count       mean        std  min   25%   50%   75%   max
Unnamed: 0   85.0  42.000000  24.681302  0.0  21.0  42.0  63.0  84.0
000          85.0   0.023529   0.216930  0.0   0.0   0.0   0.0   2.0
10           85.0   0.023529   0.216930  0.0   0.0   0.0   0.0   2.0
11           85.0   0.023529   0.216930  0.0   0.0   0.0   0.0   2.0
13           85.0   0.011765   0.108465  0.0   0.0   0.0   0.0   1.0
...           ...        ...        ...  ...   ...   ...   ...   ...
yourselves   85.0   0.011765   0.108465  0.0   0.0   0.0   0.0   1.0
zaleucus     85.0   0.011765   0.108465  0.0   0.0   0.0   0.0   1.0
zeal         85.0   0.305882   0.617667  0.0   0.0   0.0   0.0   3.0
zealand      85.0   0.011765   0.108465  0.0   0.0   0.0   0.0   1.0
zealous      85.0   0.094118   0.397118  0.0   0.0   0.0   0.0   2.0

[8561 rows x 8 columns]

## Anaimal Data
These data are from an animal shelter. These are records of animals coming in for treatment, with a few characteristics of the animals and information on the outcome. The task is
to predict the outcome.

In [53]:
# Get data
a_df = pd.read_csv('https://raw.githubusercontent.com/zachfreitas/ADS_504_Machine_Learning/main/Module_3/Assignment_3/shelter_data.csv')

a_df.head(3).T

,0,1,2
AnimalID,A671945,A656520,A686464
Name,Hambone,Emily,Pearce
DateTime,2014-02-12 18:22:00,2013-10-13 12:44:00,2015-01-31 12:28:00
OutcomeType,Return_to_owner,Euthanasia,Adoption
OutcomeSubtype,NaN,Suffering,Foster
AnimalType,Dog,Cat,Dog
SexuponOutcome,Neutered Male,Spayed Female,Neutered Male
AgeuponOutcome,1 year,1 year,2 years
Breed,Shetland Sheepdog Mix,Domestic Shorthair Mix,Pit Bull Mix
Color,Brown/White,Cream Tabby,Blue/White

In [54]:
a_df.describe().T

                count unique                     top   freq
AnimalID        26729  26729                 A671945      1
Name            19038   6374                     Max    136
DateTime        26729  22918     2015-08-11 00:00:00     19
OutcomeType     26729      5                Adoption  10769
OutcomeSubtype  13117     16                 Partner   7816
AnimalType      26729      2                     Dog  15595
SexuponOutcome  26728      5           Neutered Male   9779
AgeuponOutcome  26711     44                  1 year   3969
Breed           26729   1380  Domestic Shorthair Mix   8810
Color           26729    366             Black/White   2824

In [59]:
# Perceptron row instance calculation
x_input = [0.1,0.5,0.2]
w_weights = [0.4,0.3,0.6]

threshold = 0.5

def step(weighted_sum):
  if weighted_sum > threshold:
    return 1
  else: 
    return 0

def perceptron():
    weighted_sum = 0
    for x,w in zip(x_input, w_weights):
      weighted_sum += x*w
      print(weighted_sum)
    return step(weighted_sum)

output = perceptron()
print("output: " + str(output))

0.04000000000000001
0.19
0.31
output: 0